/* .notethree{
    display: flex;
    flex-wrap: wrap;
    width: 97%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding-left: 20px;

} */
/* .notethree{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 15%;
} */