
.displaytitle {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    /* flex-direction: row;
    flex-wrap: nowrap;
    align-items: center; */
}
.displaynote{
    display: flex;
    padding: 2%;
}

.displayicons{
    display: flex;
    justify-content: space-around;
    height: 20%;
}

.Note3Box.MuiBox-root.css-1fl6d1h {
    display: flex;
    justify-content: center;
    padding: 3.5%;
    margin-top: -9px;
   margin-bottom: 120px;
   
}

.paper{
    height: auto;
    width:40vw;
    margin-right: 10px;
    position:unset;
    border-radius: '10px';
    
    
}
.trashicons
{
    display: flex;
    justify-content: left;
}

















































































































































































