.title {
    display: flex;
    width: 623px;
    justify-content: space-between;
    height: auto;
}
.description{
    display: flex;
    position: relative;
    height: auto;
}
div{
    height: auto;
}  























































