.signUp-Containerr
{
    /* border: 1px solid rgb(0, 255, 30); */
    display: flex;
    width: 100vw;
   height:100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.main-containerr
{
    border: 1px solid black;
    width: 50vw;
    height: 90vh;
    display: flex;
    border-radius: 5px;
}
.form-containerr
{
    /* border: 1px solid blue; */
    width: 90%;
    height: 100%;
    padding: 10px;
}
.image-ss
{
    /* border: 1px solid red; */
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.headerr
{
    display: flex;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}
.f{ color: blue;}
.u{color: red;}
.n{color: yellow;}
.d{color:blue;}
.o{color:darkgreen}
.oo{color: red;}
 
.input-ss{
    height: 30px;
    border-radius: 4px;
    width: 200px;
    display: flex;
    
}
.name-ss
{
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.Username-SS
{
    margin-top: 35px;
    margin-bottom: 30px;
   
}
.input-sss{
    height: 30px;
    width: 99%;
    border-radius: 4px;
}
/* div{
    height: 50px;
    /* display: flex;
    justify-content: space-between; */
 
.para-ss{
    text-align: start;
}
.pass-stylee{
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
}
.submitt{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.button-ss{
    height: 40px;
    width: 100px;
    background-color: rgb(85, 134, 226);
}
.heading-ss{
    text-align: start;
    font: 1.2em sans-serif;
}
.label-ss
{
    display: flex;
    justify-self: start;
}

  @media screen and (max-width:700px)
{
  .signUp-Containerr,.form-containerr,.main-containerr{
    width: 100%;
    margin-top: 0px;
  } 
  .input-ss{
    width: 230px;
  }
  .image-ss{
    height: 0px;
    width: 0px;
}
 
}  
@media screen and (min-width:700px) and (max-width:1300px)
{
    .signUp-Containerr,.form-containerr,.main-containerr{
        width: 100%;
        margin-top: 0px;
      } 
      .input-ss{
        width: 225px;
      }
     

}


